body {
	background-image: url(img/background.jpg);
	padding: 0;
	margin: 0;
}
.top {
	background-image: url(img/top_fon.jpg);
	min-height: 203px;
	width: 100%;
}
.candy {
	background-image: url(img/menu_fon.jpg);
	min-height: 77px;
	width: 100%;
	position: absolute;
	margin-top: 126px;
}
.sweet {
	background-image: url(img/pod_menu.jpg);
	min-height: 406px;
	width: 100%;
	margin-top: 45px;
}
.top_logo_left {
	position: absolute;
	margin: 37px 120px;
    width: 53px;
    background-image: url(img/three.png);
    background-repeat: no-repeat;
    background-position: center center ;
    min-height: 40px;
    
}
.top_logo_right {
	position: absolute;
	width: 194px;
    background-image: url(img/industrial.png);
    background-repeat: no-repeat;
    background-position:  center center ;
    min-height: 40px;
    margin: 37px 185px;

}
.search {
	position: absolute;
	border: 1px solid #e3ddd0;
	right: 130px;
	top: 52px;	

}
.text {
	border: none;
	width: 156px;
	background-color: #fef7e9;
	margin-right: -4px;
	padding: 0;
	position: relative;
}
.submit {
	position: relative;
	height: 24px;
    width: 62px;
	background: url(img/search.png) no-repeat 50% 50%;
	color: #fff;
	border: none;
	}
input {
	height: 24px
}
.menu {
	position: absolute;
	margin-top: -45px;
	text-transform: uppercase;

}
.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding-left: 129px;
}
.menu a {
	color: #333126;
	font-size: 15px;
	padding: 0px 20px;
	display: block;
	line-height: 45px;
	border: #c14e20 1px solid;
	text-decoration: none;
	border-left: none;
	border-bottom: none;
	font-weight: bold;
}
.menu li{
	float: left;
}
.menu1 {
	background-image: url(img/Home1.png);
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 45px;
	border: #c14e20 1px solid;
}

.menu li:active a,
.menu li:hover a {
	background-color: #413f33;
	color: #fff;
}
.menu li:active .menu1,
.menu li:hover .menu1 {
	background-image: url(img/home.png);
	background-position: center center;
	min-height: 45px;
}
